


/*
========================================================= Skill Category Sprites
*/

:root {
    /* 
    ================================= SPRITE: SKILL CATEGORY IMAGES ============ 
    */
    --skill-cat-image: url('/Users/daiden/Courses/Learning People/Full Stack Developer/Milestone Projects/MP-1-Portfolio/assets/images/sprites/skill-cat@125png');
    --skill-cat-width: 125px;
    --skill-cat-height: 125px;  

    /* 
    ================================= SPRITE: SKILL CATEGORY BACKGROUND POSITION 
    */
    --adobe-design-white : 0 0;
    --frontend-dev-white : -125px 0;
    --backend-dev-white : -250px 0;
    --adobe-design-yellow : -500px 0;
    --frontend-dev-yellow : -625px 0;
    --backend-dev-yellow : -750px 0;

    /*
    ============================================================================
    ========================================================== SKILL BLOCK ICONS
    These values set the proficiency level of skill knowledge
    */
    --photoshop-percentage: 75%;
    --illustrator-percentage: 80%;
    --xd-percentage: 40%;
    --indesign-percentage: 50%;
    --html5-percentage: 80%;
    --css3-percentage: 70%;
    --javascript-percentage: 40%;
    --bootstrap-percentage: 70%;
    --python-percentage: 50%;
    --django-percentage: 40%;
    --flask-percentage: 60%;
    --mysql-percentage: 60%;
    --mongodb-percentage: 40%;
}